<div *ngIf='user.username'>
    <h1>{{ user.username }}</h1>
</div>
<form>
    <ion-list>
        <ion-item >
            <ion-label floating>Username / Email</ion-label>
            <ion-input type='text' [(ngModel)]='user.username' name='username'></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type='password' [(ngModel)]='user.password'  name='password'></ion-input>
        </ion-item>
    </ion-list>
    <div padding>
        <button ion-button block (click)='handleLoginClick($event)'>Login</button>
    </div>
</form>