<form [formGroup]="userFormGroup" (ngSubmit)='handleSubmit($event)'>
    <ion-list>
        <ion-item >
            <ion-label floating>Username / Email</ion-label>
            <ion-input type='text' name='username' formControlName='username'></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type='password'  name='password' formControlName='password'></ion-input>
        </ion-item>
    </ion-list>
    <div padding>
        <button type='submit' ion-button block [disabled]="!userFormGroup.valid">Login</button>
    </div>
</form>